<div class="row categoria-lista-container">
  @for (item of categoriasList; track $index) {
    <div class="col-12 col-md-3 categoria-lista-item">
      <div class="row">
        <div class="col-8 d-flex align-items-center">
          <p class="title mb-0">{{ item.name }}</p>
        </div>
        <div class="col-4 d-flex gap-2 justify-content-end align-items-start">
          <button
            type="button"
            (click)="callEditMethod.emit(item)"
            class="btn btn-sm btn-success"
          >
            <i class="fas fa-pencil-alt"></i>
          </button>
          <button
            type="button"
            (click)="callDeleteMethod.emit(item)"
            class="btn btn-sm btn-danger"
          >
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-12">
          <small class="text-muted">{{ item.description }}</small>
        </div>
      </div>
    </div>
  }
</div>